@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: #E53170;
    font-weight: 600;
    font-size: 40pt;
    margin: 30px 0;
}

main {
    width: 70%;
    margin: 0 15%;
}

#paragrafo {
    margin: 40px 0;
}

.card {
    text-align: left;
    background-color: #0F0E17;
    width: 32%;
    color: #fff;
    float: left;
    margin-bottom: 40px;
    box-shadow: 0px 7px 15px #888888;
}

.notlast {
    margin-right: 2%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

img {
    float: left;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

h3, .caption {
    line-height: 33px;
}

a {
    color: #33A4D6;
    text-decoration: none;
}